
# Makalu LEP100 verified contract addresses
MAKALU_LEP100_WLITHO_ADDRESS=
MAKALU_LEP100_LAX_ADDRESS=
MAKALU_LEP100_JOT_ADDRESS=
MAKALU_LEP100_COLLE_ADDRESS=
MAKALU_LEP100_IMAGE_ADDRESS=
MAKALU_LEP100_AGII_ADDRESS=
MAKALU_LEP100_BLDR_ADDRESS=
MAKALU_LEP100_FGPT_ADDRESS=
MAKALU_LEP100_MUSA_ADDRESS=
